<h1>Chat</h1>

<div id="chat-box">
  <ul id="chat">
    <%= render :partial => 'message', collection: @messages %>
  </ul>
    
  <div id="bottom-chat">
    <%= form_for Message.new, remote: true do |f| %>
      <span id="text-box">
        <%= f.text_area :body, :cols => 50 %>
      </span>
      <%= f.hidden_field :user_id, value: current_user.id  %>
      <%= f.submit "Send", :class => 'submit btn btn-info' %>
    <% end %>
  </div>
</div>

<%= subscribe_to "/messages/new" %>
 